body {
    padding: 0% 20% 0% 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainContent {
    width: 100%;
}

.navbar {
    background-color: green;
    overflow: hidden;
}

.navbar ul {
    padding: 0;
    margin: 5px;
    display: flex;
}

.navbar a {
    width: 20%;
    margin: 5px;
    padding: 0 5px 0 5px;
}

.navbar li {
    font-size: 1.4em;
    width: 100%;
    text-align: center;
    list-style-type: none;
    background-color: orange;
}

a, a:visited {
    text-decoration: none;
    color: green;   
}

.nabar a:hover {
    color: white;
}

li:hover {
    background-color: black;
}

#maze, img{
    width: 100%;
    image-rendering: pixelated;

}

.issue {
    background-color: red;
    color: gold;
    padding: 10px;
    margin-top: 10px;
}

.private {
    background-color: chocolate;
}
