{% extends "base.html" %}

{% from "fragments/_formhelpers.html" import render_option %}

{% block title %}
    Generate Maze
{% endblock %}}

{% block content %}
    <h1>Customise Maze</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ render_option(form.width) }}
        {{ render_option(form.height) }}
        {{ render_option(form.maze_type) }}
        {{ render_option(form.wall_colour) }}
        {{ render_option(form.path_colour) }}
        {{ render_option(form.private) }}
        <p> {{ form.submit() }} </p>
    </form>
{% endblock %}